{% extends 'base.html' %}

{% block content %}
    <section class="write__post">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.title.label }}
            {{ form.title(class_='form__input') }}
            {% for error in form.title.errors %}
                <p style="color: red;">[{{error}}]</p>
            {% endfor %}
            {{ form.posts.label }}
            {{ form.posts(class_='form__input') }}
            {% for error in form.posts.errors %}
                <p style="color: red;">[{{error}}]</p>
            {% endfor %}
            {{ form.tag.label }}
            {{ form.tag(class_='form__input') }}
            {% for error in form.tag.errors %}
                <p style="color: red;">[{{error}}]</p>
            {% endfor %}
            {{ form.submit(class_='form__submit')}}
        </form>
    </section>
    <section class="recomended">
        {% for community in recomended_communities %}
            <div>
                <h2 class="recomended__item">{{ community.name }}</h2>
            </div>
            <!-- <p class="recomended__item">comminity.desc</p> -->
        {% endfor %}
    </section>
    <section class="posts">
        <h1>Posts:</h1>
        {% for post in posts %}
            <h3 class="post__header">{{ post.theme }}</h3>
            <p class="post__body">
                {{ post.tags }}
            </p>
        {% endfor %}
    </section>
{% endblock %}