{% extends 'base.html' %}
{% block content %}
<div class="form text-center row justify-content-center">
    <form action="" method="post" class="col-6 p-2 justify-content-center form-inline">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name(class_='form-control') }}
        {% for error in form.name.errors %}
            <p style="color: red;">[{{error}}]</p>
        {% endfor %}
        {{ form.username.label }}
        {{ form.username(class_='form-control') }}
        {% for error in form.username.errors %}
            <p style="color: red;">[{{error}}]</p>
        {% endfor %}
        {{ form.password.label }}
        {{ form.password(class_='form-control') }}
        {% for error in form.password.errors %}
            <p style="color: red;">[{{error}}]</p>
        {% endfor %}
        {{ form.email.label }}
        {{ form.email(class_='form-control') }}
        {% for error in form.email.errors %}
            <p style="color: red;">[{{error}}]</p>
        {% endfor %}
        {{ form.submit(class_='form-control my-3 col-sm-3') }}
    </form>
</div>
{% endblock %}